# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.ColorStackGame.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\ColorStackGame\ColorStackGame\.idea\.idea.ColorStackGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
